body{height:100%;font-family:'Roboto', sans-serif;letter-spacing:0.5px; --bg: red;}

#popUp{
	position:fixed;
	margin-left:auto;
	margin-right:auto;
	padding: 200px 300px;
	z-index:9999;
	width:70%;
	min-height:200px;
	background-color: var(--bg);
	display:none;
}
.fa-align-justify:active {color:blue;}
.contact-form input,
.contact-form textarea{width:100%;height:50px;margin-bottom:20px;border-radius:5px;border:1px solid #b0b0b0;outline:none;padding-left:5px;}
#main-contact_message{min-height:150px;}
#main-contact_submit{height:42px;width:221px;border-radius:20px;background-color:#d76a43;color:#fff;border:none;box-shadow:0 1px 5px rgba(0,0,0,0.5);}
.contacts{padding-left:30px;margin-bottom:60px;}
.contacts h4{text-transform:uppercase;font-size:16px;font-weight:500;font-family:'Roboto', sans-serif;letter-spacing:2px;}
.contacts .phone-number h4, .contacts .time-of-work h4, .contacts .e-mail h4, .sidebar-shares, .sidebar-shares-img{margin-top:20px;}
.sidebar-shares img{width:100%;}
.contacts p{margin:0;font-family:'Roboto', sans-serif;}
.contacts .e-mail p a:hover{text-decoration:underline;}
.contacts .phone-number p a{color:inherit;}
.contacts hr{height:1px;width:100%;background-color:#afafaf;border:0;margin:0;}
.contacts i{color:#d76a43;float:left;}
.icon-text-cont{display:table;margin-top:8px;margin-bottom:45px;}
.icon-text-cont div{display:table-cell;vertical-align:middle;}
.icon-text-cont .icon{padding:0 22px;}
.info-block{margin-top:50px;}
.icon-text{display:table;}
.icon-text .icon,
.icon-text .text{display:table-cell;vertical-align:middle;padding:0 15px;}
.icon-text i{color:#d86b44;}
.info-block__panel{background-color:#f6f6f6;padding:0;margin:20px 10px;min-height:260px;border-radius:5px;overflow:hidden;}
.info-block__panel h2{margin:0;padding:10px 0 10px 45px;border-top-left-radius:6px;border-top-right-radius:6px;color:#fff;background-color:#7db947;text-transform:uppercase;font-family:'Roboto';font-weight:300;font-size:25px;}
.info-block__panel p a{letter-spacing:1px;}
.info-block__panel p a:hover{text-decoration:underline;}
.info-block__panel ul{list-style-type:none;margin-top:-20px;padding-left:0;}
@media screen and (max-width:767px){.info-block__panel h2{font-size:22px;}
}
.info-block__panel p{margin-top:30px;}
.info-block__icon{width:64px;height:64px;float:left;color:#d86b44;margin-top:30px;margin-left:30px;}
.doctor{display:table;}
.doctor .doctor_photo,
.doctor .doctor_details{display:table-cell;vertical-align:middle;}
.doctor_details{padding-left:15px;}
.doctor_photo img{height:100px;width:100px;border-radius:10px;}
.doctor-name{margin:0 0 15px 0;font-size:16px;color:#79b345;}
.doctor-spec{margin-bottom:10px;font-size:14px;color:#79b345;}
.doctor-descrip{font-size:11px;margin:0;}
.service-block{width:294px;margin:15px 15px 15px -147px;position:relative;left:50%;}
@media screen and (max-width:400px){.service-block{width:192px;height:199px;margin-left:-96px;}
}
.service-img{width:294px;height:277px;border:solid 1px #e6e6e6;border-radius:10px;}
@media screen and (max-width:400px){.service-img{width:192px;height:199px;}
}
.service-links{position:relative;display:block;bottom:87px;left:32px;padding:8px;width:292px;border-radius:8px;background-color:#7db947;color:#fff;font-size:18px;line-height:36px;font-weight:bold;text-align:center;text-transform:uppercase;text-shadow:0 0px 3px rgba(0, 0, 0, 0.3);moz-text-shadow:0 0px 3px rgba(0, 0, 0, 0.3);webkit-text-shadow:0 0px 3px rgba(0, 0, 0, 0.3);}
.service-links:hover{background-color:#d86b44;color:#fff;}
@media screen and (max-width:400px){.service-links{font-size:14px;line-height:20px;width:186px;}
}
.footer{background-color:#40d557;}
.margin-bottom-30{margin-bottom:30px;}
.footer p{margin:0;}
.studio a{text-decoration:underline;}
.studio img{height:44px;}
@media screen and (max-width:768px){.footer .topper__logo{margin:0 auto;float:none;text-align:center;}
.footer .studio{float:none;text-align:center;}
}
.white-text{color:#fff;padding-bottom:50px;}
.white-text a{color:#fff;}
.white-text i{color:#fff;}
.footer .social i{font-size:24px;padding:4px;}
.dushbord__offer{margin-top:100px;margin-bottom:198px;}
.dushbord__offer_text{color:#fff;font-size:18px;text-shadow:1px 2px 3px #969696;}
.dushbord__offer__header{font-weight:bold;font-size:32px;color:#fff;text-shadow:1px 2px 3px #969696;}
@media screen and (max-width:992px){.dushbord__offer__header{font-size:26px;}
}
.dushbord__form{width:380px;height:450px;background-color:rgba(0,0,0,0.6);border-radius:8px;padding:33px 38px;box-shadow:0px 0px 33px 4px rgba(0, 0, 0, 0.45);}
.arrow-look{position:absolute;bottom:53px;right:70px;}
@media screen and (max-width:1024px){.arrow-look{display:none;}
}
.dushbord__form_header{color:#fff;margin-bottom:30px;margin-top:0;font-size:28px;}
@media screen and (max-width:767px){.dushbord__form_header{font-size:22px;}
.dushbord__form{height:430px;}
}
.dushbord__form_label{color:#fff;}
.dushbord__form_input{width:100%;height:44px;margin-bottom:15px;border:none;border-radius:5px;padding-left:15px;}
.dushbord__form_submit{width:150px;color:#fff;border:none;padding-left:15px;border-radius:30px;float:left;height:44px;background-color:#d86b44;box-shadow:0 1px 0 0 #000;-webkit-animation:transform-pulse 1500ms linear 0ms infinite normal;-moz-animation:transform-pulse 1500ms linear 0ms infinite normal;-ms-animation:transform-pulse 1500ms linear 0ms infinite normal;animation:transform-pulse 1500ms linear 0ms infinite normal;}
.dushbord__form_submit:hover{background-color:#c35027;box-shadow:none;}
@-webkit-keyframes transform-pulse{0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(0deg) scale(1.1,1.1);}
100%{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes transform-pulse{0%{-moz-transform:rotate(0deg);}
50%{-moz-transform:rotate(0deg) scale(1.1,1.1);}
100%{-moz-transform:rotate(0deg);}
}
@-o-keyframes transform-pulse{0%{-o-transform:rotate(0deg);}
50%{-o-transform:rotate(0deg) scale(1.1,1.1);}
100%{-o-transform:rotate(0deg);}
}
@-ms-keyframes transform-pulse{0%{-ms-transform:rotate(0deg);}
50%{-ms-transform:rotate(0deg) scale(1.1,1.1);}
100%{-ms-transform:rotate(0deg);}
}
@keyframes transform-pulse{0%{transform:rotate(0deg);}
50%{transform:rotate(0deg) scale(1.1,1.1);}
100%{transform:rotate(0deg);}
}
.minor-header{height:520px;width:100%;position:absolute;z-index:-1;}
.minor-header__white-block{height:140px;}
.minor-header__image-block{background-repeat:no-repeat;background-size:cover;height:380px;}
.minor-color-filter-bg{background:rgba(64, 213, 87, 0.38) none repeat scroll 0 0;height:380px;}
@media screen and (max-width:768px){.minor-color-filter-bg{height:280px;}
.minor-header__image-block{height:280px;}
}
.navbar-header img{max-width:130px;max-height:25px;}
.green-navigator{box-shadow:4px 6px 7px -8px #000;background-color:#00d648;border-radius:8px;}
.green-navigator .navbar-nav > .active > a{background-color:#fff;color:#00d648;}
.green-navigator .navbar-nav > .active > a:hover{background-color:#fff;color:#40d557;}
.green-navigator .navbar-nav > .active > a:focus{color:#40d557;background-color:#fff;}
.green-navigator .navbar-nav > li > a{color:#fff;}
.green-navigator .navbar-nav > li > a:focus{color:#fff;}
.green-navigator .navbar-nav > li > a:hover{color:#00d648;background-color:#fff;}
.navbar-nav{display:block;position:relative;left:50%;transform:translate(-50%, 0);}
@media screen and (max-width:425px){.navbar-nav{transform:translate(-40%, 0);}
}
@media screen and (max-width:770px){.navbar-nav{width:100%;}
.more-menu{display:none !important;}
.navbar-nav li.active a{font-weight:bold;border-right:3px solid;}
.menu-shadow{box-shadow:6px 6px 13px 1px rgba(0, 0, 0, 0.25);}
}
.green-navigator .navbar-toggle{background-color:#00d648;}
.green-navigator:hover{background-color:#00d648;}
.green-navigator:focus{background-color:#00d648;}
.green-navigator:active{background-color:#00d648;}
.green-navigator img{max-width:130px;max-height:25px;}
@media screen and (max-width:767px){.white-navigator{border-radius:0;}
.green-navigator{border-radius:0;}
.menu-collapse{position:absolute;background-color:#fff;width:226px;}
.navbar-inverse .navbar-nav>li>a{color:#d24a43;}
.navbar-header{background-color:#fff;}
.navbar-inverse .navbar-toggle{background-color:#fff;border:none;}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{background-color:#fff;}
}
.owl-dots{height:30px;width:70px;margin:auto;}
.owl-dot{height:7px;width:7px;float:left;background-color:#3eb5ed;border-radius:7px;margin:2px;}
.owl-dot.active{border:solid 2px #98ddf4;}
.services-list{padding:0;}
.services-list li{list-style-type:none;margin:15px 0;}
.services-list li a{font-weight:400;font-size:16px;color:#008c0e;}
.services-list li a:hover{text-decoration:underline;}
.services-list li:before{content:"— ";margin-left:-20px;position:absolute;}
.service{padding:0;}
.service h4{border-bottom: 1px solid #333;border-bottom-width: thin;padding-bottom: 5px;text-transform: uppercase;}
.service li{list-style-type:none;margin:5px 0;font-size:16px;font-weight:200;}
.service li:before{content:"— ";margin-left:-20px;position:absolute;}
.page_info{z-index:1;}
.page_info__header{color:#fff;margin-top:130px;margin-bottom:110px;text-transform:uppercase;text-shadow:0 0 8px rgba(58, 150, 18, 0.37);font-weight:bold;font-size:2em;}
.page_info__breadcrum{color:#fff;}
.page_info__breadcrum a{color:#fff;margin-right:10px;margin-left:10px;}
@media screen and (max-width:768px){.page_info__header{margin:50px 0;font-size:24px;}
}
*{font-family:'Roboto', sans-serif;color:#656565;}
a{cursor:pointer;text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
h3{font-size:16px;font-weight:bold;}
.content-wrapper{margin:auto 15px;margin-bottom:30px;}
.white-navigator{box-shadow:4px 6px 7px -8px #000;background-color:#fff;border-radius:4px;}
.white-navigator .navbar-nav > .active > a{background-color:#7db947;}
.white-navigator .navbar-nav > .active > a:hover{background-color:#7db947;}
.white-navigator .navbar-nav > .active > a:focus{color:#7db947;}
.white-navigator .navbar-nav > li > a{color:#323232;}
.white-navigator .navbar-nav > li > a:focus{color:#323232;}
.white-navigator .navbar-nav > li > a:hover{color:#fff;background-color:#7db947;}
.header-image{background:url("../img/bg.jpg") no-repeat center;position:absolute;height:800px;width:100%;}
.color-filter-bg{background:rgba(29, 29, 29, 0.58) none repeat scroll 0 0;width:100%;height:800px;}
.topper{margin-top:33px;margin-bottom:33px;}
.topper div{padding:0;}
.topper__contact{float:right;min-width:218px;}
.topper__contact > p{margin-top:0;font-size:14px;text-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);}
.topper__contact strong, .topper__contact a, .topper__contact a:hover{color:#fff;}
.topper__phone-icon{width:45px;height:45px;-webkit-background-size:contain;background-size:contain;float:left;}
.topper__phone-icon:before{font-family:FontAwesome;content:"\f095";font-size:20px;padding:5px 8px;line-height:40px;border:2px solid #fff;border-radius:50%;color:#e66838;background:#fff;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);}
.topper__address-icon{width:45px;height:45px;-webkit-background-size:contain;background-size:contain;float:left;}
.topper__address-icon:before{font-family:FontAwesome;content:"\f041";font-size:20px;padding:5px 10px;line-height:40px;border:2px solid #fff;border-radius:50%;color:#e66838;background:#fff;box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);}
.topper__logo{width:218px;height:44px;z-index:10;background:url("../img/logo.png") no-repeat;-webkit-background-size:contain;background-size:contain;}
.why-consize{padding-top:50px;padding-bottom:25px;margin-bottom:60px;}
.section-header{text-align:center;color:#656565;margin-top:60px;margin-bottom:60px;text-transform:uppercase;}
.why-consize__boolets{font-size:18px;}
.grey-container{background-color:#f7f7f7;}
.map{width:100%;height:439px;overflow:hidden;}
.map iframe{width:100%;}
.footer-botton{width:100%;height:100px;margin-top:50px;}
.phoneFooterText a{color:inherit;}
.footer-botton:before{font-family:FontAwesome;font-size:48px;line-height:96px;background:#d86b44;color:#fff;border-radius:50%;moz-border-radius:50%;webkit-border-radius:50%;}
.phoneIcon.footer-botton:before{content:"\f095";padding:20px 25px;}
.mapIcon.footer-botton:before{content:"\f041";padding:20px 30px;}
.massageIcon.footer-botton:before{content:"\f003";padding:20px 20px;}
.center{text-align:center;}
.bigger_font{font-size:18px;}
.container-padding-top{padding-top:50px;}
.right{float:right;}
.text-right{text-align:right;}
p{font-size:16px;margin-bottom:27px;margin-top:30px;}
.minor-topper{margin-top:33px;margin-bottom:119px;}
.minor-topper div{padding:0;}
.minor-topper__contact{float:right;min-width:218px;}
.minor-topper__contact > p{font-size:14px;margin-top:0;}
.minor-topper__contact a{color:inherit;}
.minor-topper__phone-icon{width:45px;height:45px;float:left;}
.minor-topper__address-icon{width:45px;height:45px;float:left;}
.minor-topper__phone-icon:before{font-family:FontAwesome;content:"\f095";font-size:22px;line-height:44px;color:red;background:#fff;border:1px solid lightgray;border-radius:50%;padding:5px 8px;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);}
.minor-topper__address-icon:before{font-family:FontAwesome;content:"\f041";font-size:22px;line-height:44px;color:red;background:#fff;border:1px solid lightgray;border-radius:50%;padding:5px 10px;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);}
.minor-topper__logo{width:218px;height:44px;z-index:10;background-image:url("../img/green_logo.png");background-repeat:no-repeat;-webkit-background-size:contain;background-size:contain;}
.content-header{text-align:center;text-transform:uppercase;margin-top:60px;}
h2.content-header i{color:#ddd;}
hr{margin-top:25px;margin-bottom:30px;width:90px;border:0;border-bottom:4px solid #f7693c;}
.content__left{float:left;width:290px;margin-right:30px;}
.content__right{float:right;width:290px;margin-left:30px;}
.pricelist-table th, .pricelist-table td, .pricelist-table .sub-header{font-family:'Roboto';}
.pricelist-table th:first-child, .pricelist-table td:first-child{width:80%;}
.pricelist-table .sub-header{font-weight:700;}
.pricelist-table{width:90%;margin-left:auto;margin-right:auto;margin-bottom:38px;}
.pricelist-table th{background-color:#40d555;color:#fff;padding-left:25px;}
td{padding-left:25px;}
tr{height:48px;border-bottom:solid 1px #e5e5e5;}
tr:nth-child(even){background-color:#f9f9f9;}
@media (max-width:992px){.dushbord__offer{margin-top:10px;margin-bottom:20px;}
.dushbord__form{width:100%;margin-top:10px;}
.header-image{height:530px;}
.color-filter-bg{height:530px;}
}
@media (max-width:767px){.dushbord__offer__header{font-size:18px;}
.header-image{height:670px;}
.color-filter-bg{height:670px;}
}
@media (max-width:420px){.header-image, .color-filter-bg{height:720px;}
.dushbord__offer_detail{margin:20px auto 5px auto;display:block;}
.button.button-white{margin:5px auto 15px auto !important;display:block;}
}
.dushbord__offer__header .nowrap{color:#fff;}
.nowrap{white-space:nowrap;}
@media(max-width:1024px){.content-header{margin-top:100px;}
}
@media (max-width:992px){.why-consize .row{margin-left:0;margin-right:0;}
.why-consize .info-block__icon{margin-left:15px;}
.why-consize h2{margin-top:0;}
.content__left{float:none;display:block;margin-right:0;}
.content__right{float:none;display:block;margin-left:0;}
.content-wrapper img{max-width:100%;height:auto;margin:auto;}
.pricelist-table{width:100%;margin-left:0;margin-right:0;}
.pricelist-table th, .pricelist-table td{display:block;width:100%;}
.pricelist-table th:first-child, .pricelist-table td:first-child{width:100%;}
.pricelist-table td:nth-child(odd), .pricelist-table th:nth-child(odd){padding-top:10px;}
.pricelist-table td:nth-child(even), .pricelist-table th:nth-child(even){padding-bottom:10px;}
.pricelist-table td:nth-child(even):after{content:' тенге';}
.pricelist-table .sub-header td:nth-child(even):after{content:'';}
.pricelist-table tr{height:auto;}
h2.content-header, .page_info__header, .blog-item-single h2{font-size:2.5rem;}
}
.navbar-inverse{background-color:none;border:none;}
.content-wrapper p{line-height:24px;margin-top:0;font-family:'Roboto', sans-serif;font-weight:200;letter-spacing:0.5px;}
.img-bottom-30 img{margin-bottom:30px;}
.content-wrapper .big-image{width:100%;}
.img-border-green img{border:#f7f7f7 3px solid;}
.hovereffect{width:100%;height:100%;float:left;overflow:hidden;position:relative;text-align:center;cursor:default;box-shadow:2px 3px 3px rgba(0, 0, 0, 0.35);}
.hovereffect:hover{box-shadow:3px 6px 6px rgba(0, 0, 0, 0.45);}
.hovereffect .overlay{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;background-color:rgba(75,75,75,0.7);-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.hovereffect:hover .overlay{background-color:rgba(0, 214, 80, 0.6);}
.hovereffect img{display:block;position:relative;width:100%;}
.hovereffect h2{text-transform:uppercase;color:#fff;text-align:center;position:relative;font-family:'Roboto', sans-serif;font-size:17px;padding:10px;background:rgba(0, 0, 0, 0.6);-webkit-transform:translateY(100px);-ms-transform:translateY(100px);transform:translateY(100px);-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.hovereffect:hover h2{-webkit-transform:translateY(5px);-ms-transform:translateY(5px);transform:translateY(5px);}
.hovereffect a.info{display:inline-block;text-decoration:none;padding:7px 14px;text-transform:uppercase;color:#fff;border:1px solid #fff;background-color:transparent;opacity:0;filter:alpha(opacity=0);-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;font-family:'Roboto', sans-serif;font-weight:normal;margin:-52px 0 0 0;padding:21% 100px;}
.hovereffect:hover a.info{opacity:1;filter:alpha(opacity=100);-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.hovereffect a.info:hover{box-shadow:0 0 5px #fff;}
.gallery-margin{margin-bottom:20px;}
.photoalbum img{max-width:100%;height:auto;}
.photoalbum .video{background:#fff;padding-bottom:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);width:18%;margin:1%;float:left;}
.photoalbum .video figure{height:0;padding-bottom:60%;overflow-y:hidden;}
@media (max-width:1366px){.photoalbum .video{width:23%;}
}
@media (max-width:1024px){.photoalbum .video{width:31.333%;}
}
@media (max-width:600px){.photoalbum .video{width:48%;}
}
@media (max-width:360px){.photoalbum .video{display:block;width:96%;margin:2%;float:none;}
}
.photoalbum .video img{width:100%;opacity:1;}
.photoalbum .video img:hover, .photoalbum .video img:active, .photoalbum .video img:focus{opacity:0.75;}
.photoalbum .videoTitle{font-family:'Roboto', sans-serif;text-align:center;font-weight:200;line-height:21px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{overflow:hidden;}
h3.content-header{font-family:'Roboto', sans-serif;font-weight:400;line-height:24px;margin-top:auto;text-align:left;}
.content-wrapper h3{font-family:'Roboto';text-transform:uppercase;}
#shareas-text ul{margin-bottom:15px;padding-left:0px;}
#shareas-text ul li{list-style:none;margin-bottom:5px;font-size:15px;font-family:'Roboto', sans-serif;font-weight:400;}
#shareas-text ul li:before{font-family:FontAwesome;font-size:14px;content:"\f09d";margin-right:15px;color:#00d648;}
#shareas-text .panel-body img{width:100%;}
.questions ul{margin-bottom:15px;padding-left:0px;}
.questions ul li{list-style:none;margin-bottom:5px;font-size:16px;font-family:'Roboto', sans-serif;font-weight:200;}
.questions ul li:before{font-family:FontAwesome;font-size:14px;content:"\f164";margin-right:15px;color:#00d648;}
.questions a{font-family:'Roboto', sans-serif;}
.questions .panel-heading{border-bottom:1px #40d557 dotted;}
.questions .panel-title i{color:#40d557;position:absolute;left:5px;font-size:18px;}
.questions .panel-title a{color:#656565;}
.questions .panel-title{padding-top:10px;padding-bottom:10px;}
.questions .panel-body{border-top:0 #40d557 solid;border:1px #40d557 solid;}
.questions .panel, .questions .panel-heading{border-radius:0;}
.questions .panel-default{border:none;box-shadow:none;}
.questions .panel-default>.panel-heading{background:none;}
.attention .panel-heading{border-bottom:1px #40d557 dotted;}
.attention .panel-title i{color:#40d557;left:5px;font-size:18px;}
.attention .panel-title a{color:#656565;}
.attention .panel-title{padding-top:10px;padding-bottom:10px;}
.attention .panel-body{border-top:0 #40d557 solid;border:1px #40d557 solid;}
.attention .panel, .attention .panel-heading{border-radius:0;}
.attention .panel-default{border:none;box-shadow:none;}
.attention .panel-default>.panel-heading{background:none;}
.attention .panel-body p{font-size:14px;margin-bottom:5px;}
.sticky{position:fixed;z-index:101;}
.stop{position:relative;z-index:101;}
.doc-preview-img{display:table-cell;}
.doc-preview-img img{border-radius:50%;width:80px;margin-right:15px;}
.doc-preview-descr{display:table-cell;vertical-align:middle;font-family:'Roboto', sans-serif;}
.tab li{margin-bottom:18px;}
.tab li a{color:#999;margin-right:0;position:relative;transition:all 0.5s ease 0s;background:#fff;border:#fff 1px solid;}
.tab li.active a{border:1px solid rgba(0, 0, 0, 0.15);}
.tab li a:hover, .tablist li a:focus{outline:none;text-decoration:none;box-shadow:2px 3px 11px rgba(0, 0, 0, 0.15);background:#fff;}
.tab-content{border-left:#ccc dashed 1px;}
.tab-content img{max-height:350px;}
.tab-content li{list-style-type:none;font-family:'Roboto', sans-serif;margin-bottom:5px;}
.tab-content li:before{content:"— ";margin-left:-20px;position:absolute;}
@media only screen and (max-width:480px){.tab li{width:100%;margin-bottom:8px;}
.doc-preview-img img{max-width:none;}
}
@media only screen and (max-width:770px){.tab li a:hover, .tablist li a:focus{box-shadow:none !important;}
.tab-content{border-left:none !important;}
.tab-content ul{padding-left:20px;}
}
.blog-item{border-bottom:2px solid #cfcfcf;padding-bottom:26px;margin-top:27px;}
.blog-item h4 a{color:#7db947;font-size:16px;}
.blog-item h4 a:hover{text-decoration:underline;}
.blog-item-date{display:inline-block;width:49%;}
.blog-item-more, .blog-item-back{display:inline-block;width:49%;text-align:right;}
.blog-item-more a, .blog-item-back a{padding:4px 13px;border:#b7b7b7 1px solid;color:#898989;border-radius:6px;}
.blog-item-more a:hover, .blog-item-back a:hover{background-color:#7db947;color:#fff;}
.blog-item-single h4{margin-top:35px;font-family:'Roboto', sans-serif;}
.blog-item-single li{font-family:'Roboto', sans-serif;padding-bottom:5px;}
.blog-item-single img{margin:0 auto;display:block;border:#f7f7f7 3px solid;box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.2);}
.blog-item-single iframe{width:100% !important;}
@media only screen and (min-width:770px){.blog-item-single{box-shadow:0px 0px 2px rgba(0, 0, 0, 0.1);padding:35px 25px 35px 45px;}
.blog-item-single-desc{padding:15px 25px 15px 35px;box-shadow:0px 0px 2px rgba(0, 0, 0, 0.1);font-family:'Roboto', sans-serif;}
}
.pagenav{margin-top:20px;text-align:center;}
.page-btn{padding:8px 14px;border:#b7b7b7 1px solid;color:#898989;border-radius:50%;margin:auto 5px;}
.this-page-btn, .other-page-btn:hover{background-color:#7db947;color:#fff;}
.button{background-color:#d86b44;border-radius:30px;border:0;min-width:222px;min-height:39px;padding:8px 15px 8px 15px;color:#fff;font-size:14px;text-align:center;text-transform:uppercase;text-shadow:0 0px 2px rgba(0, 0, 0, 0.3);moz-text-shadow:0 0px 2px rgba(0, 0, 0, 0.3);webkit-text-shadow:0 0px 2px rgba(0, 0, 0, 0.3);margin-bottom:25px;display:inline-block;}
.button:hover{background-color:#7db947;color:#fff;box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.35);}
.button-white{background-color:#fff;margin-right:5px;padding:8px 25px 8px 25px;color:#333;text-shadow:none;}
.button-white:hover{background-color:#7db947;color:#fff !important;}
.button-white:hover i{color:#fff;}
.attention table hr{margin:0;margin-top:25px;width:95%;min-width:150px;border:0;border-bottom:1px solid #656565;}
@media (max-width:992px){.attention{width:100%;margin-left:0;margin-right:0;}
.attention th, .attention td{display:block;}
.attention tr{height:auto;}
.attention table hr{margin-top:10px;}
}
.review{text-align:center;margin-bottom:35px;}
.review .line{border-bottom:1px solid #00d648;width:100%;height:40px;}
.review .tooth{width:50px;margin:-20px auto 30px auto;padding:5px 13px;display:block;border:1px solid #00d648;border-radius:50%;background-color:#fff;}
.review q{color:#3c3f41;line-height:24px;font-weight:200;font-style:italic;letter-spacing:0.5px;}
.review .author{color:#000;font-weight:700;text-transform:uppercase;margin-top:15px;}
.totop{color:white;top:-15px;margin-left:-15px;position:absolute;background-color:rgba(39, 255, 96, 0.66);border-radius:50%;padding:9px;box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.35);}
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}