$blue :#149;
$red :#e31e24;
.row {text-align: center;}
* {padding: 0;margin: 0;
	font:roboto sans 16px;
}
main {z-index: 1; }
.logo {float: left}
#bg {
    position: absolute;
    width: 100%;
    min-height: 600px;
    z-index: 0;
    background-image:url(https://s.w.org/images/home/collage-min.jpg);

    height: 500px;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 12px 12px rgba(0, 0, 0, 0.28);}
}
.bg {    
	height: 500px;
	min-height: 400px;
    width: 100%;
    background: url(https://s.w.org/images/home/collage-min.jpg) center top;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 12px 12px rgba(0, 0, 0, 0.28);}
footer {min-height: 200px;
    background-color: rgba(36, 17, 68, 0.93);
    color: white;
    text-align: center;}
#hw {text-align: center;}
.service-img:hover{   width: 305px;
    height: 288px;
    border: solid 3px #2d2d2d;}
.card {
    /* Add shadows to create the "card" effect */
    background-color: #fff;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card img  {
    width: 100%;
}
.card .btn-danger {
    max-width: 125px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}