@font-face {
  font-family: 'OpenSansRegular';
  src: url('/g/fonts/open_sans//open_sans-r.eot');
  src: local('O'), url('/g/fonts/open_sans//open_sans-r.woff') format('woff'), url('/g/fonts/open_sans//open_sans-r.ttf') format('truetype'), url('/g/fonts/open_sans//open_sans-r.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url('/g/fonts/roboto//roboto-b.eot');
  src: local('O'), url('/g/fonts/roboto//roboto-b.woff') format('woff'), url('/g/fonts/roboto//roboto-b.ttf') format('truetype'), url('/g/fonts/roboto//roboto-b.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url('/g/fonts/roboto//roboto-l.eot');
  src: local('O'), url('/g/fonts/roboto//roboto-l.woff') format('woff'), url('/g/fonts/roboto//roboto-l.ttf') format('truetype'), url('/g/fonts/roboto//roboto-l.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 980px;
  position: relative; }

body {
  font: 400 15px 'Arial', sans-serif;
  color: #000;
  /*table.table1 tr:hover { background:#e0e0e0; }*/
  /*table.table2 tr:hover { background:#e0e0e0;}*/
  /*=== GALLERY */ }
  body a {
    color: #de332f; }
    body a:hover {
      text-decoration: none; }
  body .page-path {
    margin: 0 0 19px;
    color: #1a1a1a;
    font: normal 12px 'OpenSansRegular', Helvetica, sans-serif; }
    body .page-path a {
      color: #de332f; }
  body img {
    border: none; }
  body div, body span, body h1, body h2, body h3, body h4, body h5, body h6, body p, body em, body strong, body sub, body sup, body b, body u, body i, body dl, body dt, body dd, body ol, body ul, body li, body form, body label, body tbody, body tfoot, body thead, body tr, body th, body td, body article, body aside, body canvas, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section, body summary, body time, body mark, body audio, body video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 100%; }
  body a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: transparent;
    outline: none; }
  body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section {
    display: block; }
  body nav ul {
    list-style: none; }
  body sub, body sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  body sup {
    top: -0.5em; }
  body sub {
    bottom: -0.25em; }
  body ins {
    text-decoration: none; }
  body p, body pre, body blockquote, body ul, body ol, body dl {
    margin: 1em 0; }
  body blockquote {
    margin-left: 40px;
    margin-right: 40px; }
  body ol, body ul, body dd {
    margin-left: 40px; }
  body pre, body code, body kbd, body samp {
    font-family: monospace, sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'robotobold', Helvetica, sans-serif;
    margin: 0;
    color: #1a1a1a;
    font-weight: 400; }
  body h1 {
    font-size: 28px;
    line-height: normal; }
  body h2 {
    font-size: 26px;
    line-height: normal; }
  body h3 {
    font-size: 24px;
    line-height: normal; }
  body h4 {
    font-size: 22px;
    line-height: normal; }
  body h5 {
    font-size: 20px;
    line-height: normal; }
  body h6 {
    font-size: 18px;
    line-height: normal; }
  body hr {
    color: #1a1a1a;
    border: none;
    /* Убираем границу для браузера Firefox */
    background-color: #1a1a1a;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */ }
  body table.table0 {
    border-collapse: collapse; }
  body table.table0 td {
    padding: 5px;
    border: none; }
  body table.table1 {
    border-collapse: collapse; }
  body table.table1 td {
    padding: 5px;
    border: 1px solid #000; }
  body table.table2 {
    border-collapse: collapse; }
  body table.table2 td {
    padding: 5px;
    border: 1px solid #000; }
  body table.table2 th {
    padding: 8px 5px;
    border: 1px solid #000;
    background-color: #1a1a1a;
    color: #fff;
    text-align: left; }
  body table.table0 td p, body table.table1 td p, body table.table2 td p {
    padding: 0;
    margin: 0;
    text-indent: 0; }
  body table.gallery {
    border-spacing: 10px;
    border-collapse: separate; }
  body table.gallery td {
    background-color: #1a1a1a;
    text-align: center;
    padding: 15px; }

.clear-footer {
  clear: both;
  height: 1px;
  font-size: 0;
  line-height: 0;
  padding-top: 216px; }

.site-wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  min-width: 980px;
  margin: 0 0 -216px 0; }

.site-header {
  background: url(header-bg.jpg) center top no-repeat;
  padding: 0 0 31px 0; }
  .site-header .top-bar1 {
    width: 980px;
    margin: 0 auto;
    padding: 0 0 31px 0; }
    .site-header .top-bar1:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      font-size: 0;
      line-height: 0; }
    .site-header .top-bar1 .site-name {
      float: left;
      padding: 37px 0 0 21px; }
      .site-header .top-bar1 .site-name .site-logo {
        font-size: 0;
        left: 0;
        padding: 0 0 15px 0; }
      .site-header .top-bar1 .site-name .site-activity {
        font: 400 15px 'robotolight', sans-serif;
        color: #f2f1ec;
        width: 370px;
        line-height: 19px;
        height: 57px;
        overflow: hidden; }
    .site-header .top-bar1 .phone-block {
      float: right;
      text-align: right;
      padding: 40px 20px 0 93px; }
      .site-header .top-bar1 .phone-block:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0; }
      .site-header .top-bar1 .phone-block .call-btn {
        width: 165px;
        height: 35px;
        float: right;
        padding: 0 0 25px 0; }
        .site-header .top-bar1 .phone-block .call-btn a {
          width: 100%;
          height: 100%;
          background: url(call-btn.png) 0 0 no-repeat;
          display: block;
          text-decoration: none; }
      .site-header .top-bar1 .phone-block .phone {
        width: 154px;
        font: 400 18px 'robotobold', sans-serif;
        color: #f2f1ec;
        float: right;
        clear: right;
        line-height: 29px;
        height: 87px;
        overflow: hidden; }
        .site-header .top-bar1 .phone-block .phone a {
          text-decoration: none;
          cursor: default;
          color: #f2f1ec; }
    .site-header .top-bar1 .address-block {
      float: right;
      text-align: right;
      padding: 40px 0 0 0; }
      .site-header .top-bar1 .address-block:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0; }
      .site-header .top-bar1 .address-block .application-btn {
        width: 165px;
        height: 35px;
        float: right;
        padding: 0 0 25px 0; }
        .site-header .top-bar1 .address-block .application-btn a {
          width: 100%;
          height: 100%;
          background: url(application-btn.png) 0 0 no-repeat;
          display: block; }
      .site-header .top-bar1 .address-block .address {
        width: 238px;
        font: 400 14px 'robotolight', sans-serif;
        line-height: 19px;
        color: #fff;
        float: right;
        clear: right;
        height: 95px;
        overflow: hidden; }
  .site-header .menu-top-wrapper {
    width: 980px;
    margin: 0 auto 48px;
    padding: 11px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    text-align: right;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  .site-header .menu-top-wrapper .menu-top {
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
    list-style: none; }
  .site-header .menu-top-wrapper .menu-top li {
    display: inline-block;
    vertical-align: top;
    font: 400 14px 'robotobold', sans-serif; }
    .site-header .menu-top-wrapper .menu-top li.active a {
      color: #fff;
      background: url(top-menu-a-ac-left.png) 0 0 no-repeat; }
      .site-header .menu-top-wrapper .menu-top li.active a:before {
        background: url(top-menu-a-ac-bg.png) 0 0 repeat-x;
        display: block; }
      .site-header .menu-top-wrapper .menu-top li.active a:after {
        background: url(top-menu-a-ac-right.png) 0 0 no-repeat;
        display: block; }
      .site-header .menu-top-wrapper .menu-top li.active a:hover {
        background: url(top-menu-a-h-left.png) 0 0 no-repeat; }
        .site-header .menu-top-wrapper .menu-top li.active a:hover:before {
          background: url(top-menu-a-h-bg.png) 0 0 repeat-x; }
        .site-header .menu-top-wrapper .menu-top li.active a:hover:after {
          background: url(top-menu-a-h-right.png) 0 0 no-repeat; }
  .site-header .menu-top-wrapper .menu-top li a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 0 16px;
    display: block;
    line-height: 46px;
    position: relative;
    z-index: 1; }
    .site-header .menu-top-wrapper .menu-top li a:hover {
      background: url(top-menu-a-h-left.png) 0 0 no-repeat;
      color: #fff; }
      .site-header .menu-top-wrapper .menu-top li a:hover:before {
        display: block; }
      .site-header .menu-top-wrapper .menu-top li a:hover:after {
        display: block; }
    .site-header .menu-top-wrapper .menu-top li a:before {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      top: 0;
      bottom: 0;
      background: url(top-menu-a-h-bg.png) 0 0 repeat-x;
      z-index: -1;
      display: none; }
    .site-header .menu-top-wrapper .menu-top li a:after {
      content: '';
      position: absolute;
      right: 0;
      width: 10px;
      top: 0;
      bottom: 0;
      background: url(top-menu-a-h-right.png) 0 0 no-repeat;
      z-index: -1;
      display: none; }
  .site-header .top-bar2 {
    width: 980px;
    margin: 0 auto 73px;
    font-family: 'robotolight', sans-serif; }
    .site-header .top-bar2:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      font-size: 0;
      line-height: 0; }
    .site-header .top-bar2 .site-search {
      width: 227px;
      height: 90px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.30);
      float: left;
      -webkit-box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.27);
      box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.27);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 13px 20px 0; }
      .site-header .top-bar2 .site-search .title {
        font-size: 15px;
        color: #fff;
        padding: 0 0 9px 0; }
    .site-header .top-bar2 .site-search .search-form {
      width: 186px;
      height: 28px; }
    .site-header .top-bar2 .site-search .search-form:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      font-size: 0;
      line-height: 0; }
    .site-header .top-bar2 .site-search .search-form .search-text {
      float: left;
      padding: 0 5px 0 11px;
      width: 128px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
      font-size: 12px;
      background: #fff;
      outline: none;
      border: 1px solid #0c0d15;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      margin: 0;
      color: #656565;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .site-header .top-bar2 .site-search .search-form .search-text::-webkit-input-placeholder {
        color: #656565; }
      .site-header .top-bar2 .site-search .search-form .search-text::-moz-placeholder {
        color: #656565; }
      .site-header .top-bar2 .site-search .search-form .search-text:-moz-placeholder {
        color: #656565; }
      .site-header .top-bar2 .site-search .search-form .search-text:-ms-input-placeholder {
        color: #656565; }
      .site-header .top-bar2 .site-search .search-form .search-text:focus::-webkit-input-placeholder {
        color: transparent; }
      .site-header .top-bar2 .site-search .search-form .search-text:focus::-moz-placeholder {
        color: transparent; }
      .site-header .top-bar2 .site-search .search-form .search-text:focus:-moz-placeholder {
        color: transparent; }
      .site-header .top-bar2 .site-search .search-form .search-text:focus:-ms-input-placeholder {
        color: transparent; }
    .site-header .top-bar2 .site-search .search-form .search-button {
      float: right;
      padding: 0;
      margin: 0;
      width: 56px;
      height: 100%;
      background: url(search-btn.png) 0 0 no-repeat;
      border: none;
      outline: none;
      cursor: pointer; }
    .site-header .top-bar2 .desc {
      float: right;
      width: 738px;
      line-height: 90px;
      -webkit-box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.22);
      background: rgba(0, 0, 0, 0.30);
      font-size: 40px;
      color: #fff;
      padding: 0 0 0 18px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      letter-spacing: -0.28px; }

.site-container-wrapper .site-container {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 96px; }
  .site-container-wrapper .site-container:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0; }

.site-container-wrapper .site-content-wrapper {
  width: 100%;
  float: left; }

.site-container-wrapper .site-content-wrapper .site-content {
  margin-left: 267px;
  padding: 62px 0 0 0; }

.site-container .left-column {
  float: left;
  width: 227px;
  margin-left: -100%;
  padding: 97px 0 0 0; }

.left-menu-wrapper {
  background: transparent;
  margin: 0 0 43px 0; }
  .left-menu-wrapper .menu-title {
    background: #0f3896;
    font: 400 18px 'robotobold', sans-serif;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0.5px 0.866px 0px 0px #000;
    box-shadow: 0.5px 0.866px 0px 0px #000;
    margin: 0 0 7px 0;
    padding: 13px 20px 8px 37px; }

.left-menu-wrapper .left-menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.left-menu-wrapper .left-menu li {
  font: 400 15px 'robotobold', Helvetica, sans-serif; }

.left-menu-wrapper .left-menu > li > a {
  display: block;
  text-decoration: none;
  padding: 11px 35px 11px 38px;
  color: #333;
  background: url(left-menu-a-ico.png) 16px 15px no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.left-menu-wrapper .left-menu > li > a:hover {
  background: #e31e24 url(left-menu-a-h-ico.png) 16px 15px no-repeat;
  color: #fff; }

.left-menu-wrapper .left-menu > li ul {
  margin: -4px 0 9px 0;
  padding: 0 0 8px 0;
  list-style: none;
  background: #f2f1ec; }

.left-menu-wrapper .left-menu > li ul li {
  font-size: 13px; }

.left-menu-wrapper .left-menu > li ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 10px 10px 44px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: url(left-menu-a-a-ico.png) 30px 14px no-repeat; }

.left-menu-wrapper .left-menu > li ul li a:hover {
  background: url(left-menu-a-a-h-ico.png) 30px 14px no-repeat #e31e24;
  color: #fff; }

.edit-block {
  background: #f2f1ec;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.28);
  padding: 0 0 27px 0; }
  .edit-block .title-block {
    background: #0f3896;
    -webkit-box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.004);
    box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.004);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font: 400 18px 'robotobold', sans-serif;
    color: #fff;
    padding: 10px 10px 12px 20px;
    margin: 0 0 15px 0; }
  .edit-block .title-body {
    font: 400 15px 'robotobold', sans-serif;
    color: #cd120e;
    padding: 0 19px 0; }
  .edit-block .body {
    padding: 0 20px;
    font: 400 13px 'robotolight', sans-serif;
    margin: -7px 0 0 0;
    line-height: 14px; }

.site-footer-wrapper {
  min-width: 980px;
  min-height: 216px;
  background: #f2f1ec;
  padding: 27px 0 0 0; }
  .site-footer-wrapper .site-footer {
    width: 980px;
    margin: 0 auto; }
    .site-footer-wrapper .site-footer .menu-bottom-wrapper {
      width: 980px;
      margin: 0 auto 87px;
      padding: 8px 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      text-align: right;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.21);
      box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.21); }
    .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom {
      font-size: 0;
      line-height: 0;
      padding: 0;
      margin: 0;
      list-style: none; }
    .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li {
      display: inline-block;
      vertical-align: top;
      font: 400 14px 'robotobold', sans-serif; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a {
        color: #fff;
        background: url(top-menu-a-ac-left.png) 0 0 no-repeat; }
        .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a:before {
          background: url(top-menu-a-ac-bg.png) 0 0 repeat-x;
          display: block; }
        .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a:after {
          background: url(top-menu-a-ac-right.png) 0 0 no-repeat;
          display: block; }
        .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a:hover {
          background: url(top-menu-a-h-left.png) 0 0 no-repeat; }
          .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a:hover:before {
            background: url(top-menu-a-h-bg.png) 0 0 repeat-x; }
          .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li.active a:hover:after {
            background: url(top-menu-a-h-right.png) 0 0 no-repeat; }
    .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a {
      text-decoration: none;
      color: #1a1a1a;
      padding: 0 10px;
      display: block;
      line-height: 46px;
      position: relative;
      z-index: 1; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a:hover {
        background: url(top-menu-a-h-left.png) 0 0 no-repeat;
        color: #fff; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a:hover:before {
        display: block; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a:hover:after {
        display: block; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        background: url(top-menu-a-h-bg.png) 0 0 repeat-x;
        z-index: -1;
        display: none; }
      .site-footer-wrapper .site-footer .menu-bottom-wrapper .menu-bottom li a:after {
        content: '';
        position: absolute;
        right: 0;
        width: 10px;
        top: 0;
        bottom: 0;
        background: url(top-menu-a-h-right.png) 0 0 no-repeat;
        z-index: -1;
        display: none; }
    .site-footer-wrapper .site-footer .bottom-bar {
      padding: 0 21px 31px; }
      .site-footer-wrapper .site-footer .bottom-bar:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0; }
      .site-footer-wrapper .site-footer .bottom-bar .left-part {
        float: left; }
      .site-footer-wrapper .site-footer .bottom-bar .left-part .copyrights {
        font: 400 13px 'robotobold', sans-serif;
        color: #404040; }
      .site-footer-wrapper .site-footer .bottom-bar .left-part .mega {
        font: 400 13px 'robotolight', sans-serif;
        color: #454545; }
        .site-footer-wrapper .site-footer .bottom-bar .left-part .mega a {
          color: #454545; }
      .site-footer-wrapper .site-footer .bottom-bar .social-block {
        font-size: 0;
        line-height: 0;
        float: right; }
      .site-footer-wrapper .site-footer .bottom-bar .social-block .social-ico {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px; }
      .site-footer-wrapper .site-footer .bottom-bar .social-block .social-ico img + img {
        display: none; }
      .site-footer-wrapper .site-footer .bottom-bar .social-block .social-ico:hover img {
        display: none; }
        .site-footer-wrapper .site-footer .bottom-bar .social-block .social-ico:hover img + img {
          display: inline-block; }
      .site-footer-wrapper .site-footer .bottom-bar .social-block .social-ico:last-child {
        margin-right: 0; }
