#E31E24 // красный
#0F3896 //синий


html body {
	font-size: 18px;
	font-family: Roboto serif;
	color:#2d2d2d;
	text-align: center;
}
p {
	font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
	font-family: OpenSans sans-serif;
	color: #black;
}
.nav {left: 50%}
footer {
	min-height: 150px;
	background-color: #2d2d2d;
	color: #fff;
}
#filter-bg {

}